<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phacsin.entreprenia">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/entreprenia"
        android:label="@string/app_name"
        tools:replace="android:icon,android:theme"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".splash.WelcomeScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".splash.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".registration.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".registration.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".main.EventsActivity"
            android:parentActivityName=".PieChartActivity"
            android:label="Events"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".main.Entreprenia"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".main.speeker.Speakers"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".main.ContactUs"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".main.partners.Partners"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".PieChartActivity"
            />
        <activity android:name=".PieChartActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Profile"
            android:theme="@style/DarkTheme" />
        <activity android:name=".registration.ForgotPassword"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>